Pods/
PlantCare.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
PlantCare.xcodeproj/project.xcworkspace/xcuserdata/
PlantCare.xcodeproj/xcuserdata/i853036.xcuserdatad/xcdebugger/
PlantCare.xcworkspace/