<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559676777328-1jei84g8j55ueu9qgjhaansei5hmh1ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559676777328-1jei84g8j55ueu9qgjhaansei5hmh1ti</string>
	<key>API_KEY</key>
	<string>AIzaSyDxd_cdmnz-2Fhpr9FAhcbI82cgtHTCasg</string>
	<key>GCM_SENDER_ID</key>
	<string>559676777328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericalas.PlantCare</string>
	<key>PROJECT_ID</key>
	<string>storagetrial-467d3</string>
	<key>STORAGE_BUCKET</key>
	<string>storagetrial-467d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559676777328:ios:be4101eb8061b71a5065b5</string>
	<key>DATABASE_URL</key>
	<string>https://storagetrial-467d3.firebaseio.com</string>
</dict>
</plist>